
p {
    background-color: white;
}
#name-image {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}
.name {
    text-align: left;
        background-color:transparent;
}

.image {
    text-align: right;
}

#copyright {
    text-align: center;
    text-decoration: underline;
}
#tahun {
    text-align: center;
    font-weight: bold;
}
#photo {
    border-radius: 50%;
}
#signup-form {
    border: 1px solid black;
    background-color: chartreuse;
}